<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="../public/style.css">
    <style>

        body{
            background-color: black;
            color: white;
        }

        .container3 h2{
            text-align: center;
            
        }
        .container{
            display: flex;
            flex-direction: column;
            place-content: center;
            align-items:center ;
            
        }

        .container3{
            width:77vw;
            height:80vh;
            border:1px solid white;
            margin-block:10%; 
            padding:20px; 
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="container">
    <div class="container3">
        <h2 class="about">This is information about the user from his prompts</h2>

        <p>'node_modules/cookie/SECURITY.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cookie/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cookie/package.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cors/CONTRIBUTING.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cors/HISTORY.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cors/LICENSE', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cors/README.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cors/lib/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/cors/package.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/debug/LICENSE', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/debug/README.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/debug/package.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/debug/src/browser.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/debug/src/common.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/debug/src/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/debug/src/node.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/depd/History.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/depd/LICENSE', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/depd/Readme.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/depd/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/depd/lib/browser/index.js', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/depd/package.json', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/dunder-proto/.eslintrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/dunder-proto/.github/FUNDING.yml', LF will be replaced by CRLF the next time Git touches it     
warning: in the working copy of 'node_modules/dunder-proto/.nycrc', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/dunder-proto/CHANGELOG.md', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'node_modules/dunder-proto/LICENSE', LF will be replaced by CRLF the next time Git touches it</p>

<button style="width:100px; height:40px;" >Edit</button>

    </div>

    
    
    </div>


    
</body>
</html>